build/**/*

# Secrets
.env
*.env

# Editor swap
*.swp

# Vim
.editorconfig
.viminfo

# Package manager
node_ignore/**/*
.npm/**/*
.yarn/**/*
.cache/**/*
.pnp.cjs
.pnp.loader.mjs

# Histories
.bash_history
.node_repl_history
