build/**/*
tmp/**/*

# Secrets
.env
*.env

# Garbage
/*.js
/*.json
/*.log
/*.ts
/*.txt

# Editor swap
*.swp

# Vim
*.vim
.vimrc
.editorconfig
.viminfo
.vimspector.json

# VSCode
.vscode

# Mocha
.mocharc.js

# Sqlite3
/*.db
/*.sqlite3

# Heroku
/heroku/

# Package manager
node_ignore/**/*
.npm/**/*
.yarn/**/*
.cache/**/*
.pnp.cjs
.pnp.loader.mjs

# Histories
.bash_history
.node_repl_history
