build/**/*
tmp/**/*
node_modules

# Secrets
.env
*.env

# Archives
/*.tar
/*.tgz
/*.tar.gz
/*.zip

# Diff and backups
/*.diff
/*.bak
/*.orig

# Misc. data
/*.js
/*.json
/*.log
/*.ts
/*.txt
/*.tsv
/*.csv
/*.html

# Editor swap and lock files
*.swp
.~lock*

# Vim
*.vim
.vimrc
.editorconfig
.viminfo
.vimspector.json

# AI
/.claude*/
/.gemini/
/.codex/

# IDE
.vscode
.vscode-server/
.cursor
.dotnet/
.gitconfig


# Mocha
.mocharc.js

# Sqlite3
/*.db
/*.sqlite3

# Docker
/user/

# Package manager
node_ignore/**/*
.npm/**/*
.yarn/**/*
.cache/**/*
.pnp.cjs
.pnp.loader.mjs

# Histories
.bash_history
.node_repl_history
